
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Dark Colors
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="dark"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #191919;
	--background-2: #333333;
	--background-3: #4c4c4c;
	--background-4: #666666;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #ffffff;
	--color-2: #e5e5e5;
	--color-3: #cccccc;
	--color-4: #b2b2b2;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #a4d1f5;
	--link-2: #97cbf3;
	--link-3: #8ac4f2;
	--link-4: #7ebef1;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #a6b4c0;
	--icon-2: #98a7b6;
	--icon-3: #899bab;
	--icon-4: #7a8ea1;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #5b5b5b;
	--border-2: #737373;
	--border-3: #444444;
	--border-4: #2d2d2d;
	
}