
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Liana Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="liana"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #f7f0fa;
	--background-2: #efe1f5;
	--background-3: #e7d2f0;
	--background-4: #dfc3eb;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #1d0a24;
	--color-2: #3a1448;
	--color-3: #571e6c;
	--color-4: #742890;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #7d32a1;
	--link-2: #ba55d3;
	--link-3: #da70d6;
	--link-4: #e0b0ff;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #6f337f;
	--icon-2: #ba55d3;
	--icon-3: #da70d6;
	--icon-4: #e0b0ff;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #ba55d3;
	--border-2: #da70d6;
	--border-3: #e0b0ff;
	--border-4: #e7d2f0;
	
}
