
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Adelia Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="adelia"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #faf0f2;
	--background-2: #f5e1e5;
	--background-3: #f0d2d8;
	--background-4: #ebc3cc;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #240a0e;
	--color-2: #48141c;
	--color-3: #6c1e2a;
	--color-4: #902838;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #a14652;
	--link-2: #db7093;
	--link-3: #ff69b4;
	--link-4: #ffb6c1;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #834358;
	--icon-2: #db7093;
	--icon-3: #ff69b4;
	--icon-4: #ffb6c1;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #db7093;
	--border-2: #ff69b4;
	--border-3: #ffb6c1;
	--border-4: #f0d2d8;
	
}
