
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Navi Coral Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="navicoral"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #f2f5f8;
	--background-2: #e5ebf1;
	--background-3: #d8e1ea;
	--background-4: #cbd7e3;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #000033;
	--color-2: #000066;
	--color-3: #333399;
	--color-4: #4682b4;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #f08080;
	--link-2: #cd5c5c;
	--link-3: #4682b4;
	--link-4: #000080;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #000080;
	--icon-2: #4682b4;
	--icon-3: #f08080;
	--icon-4: #cd5c5c;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #4682b4;
	--border-2: #cbd7e3;
	--border-3: #d8e1ea;
	--border-4: #e5ebf1;
	
}
