
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Periwinkle Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="periwinkle"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #f0f0ff;
	--background-2: #e6e6ff;
	--background-3: #dcdcff;
	--background-4: #d2d2ff;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #0a0a24;
	--color-2: #141448;
	--color-3: #1e1e6c;
	--color-4: #282890;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #5c5cff;
	--link-2: #8aa7c2;
	--link-3: #ccccff;
	--link-4: #b0c4de;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #4d4db2;
	--icon-2: #7a7aff;
	--icon-3: #ccccff;
	--icon-4: #dcdcff;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #8aa7c2;
	--border-2: #ccccff;
	--border-3: #dcdcff;
	--border-4: #e6e6ff;
	
}
