
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Green Sage Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="greensage"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #f2f4f2;
	--background-2: #eef1ee;
	--background-3: #e9ece9;
	--background-4: #e4e8e4;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #1d1e1d;
	--color-2: #3a3d3a;
	--color-3: #575c57;
	--color-4: #747b74;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #6a6a4a;
	--link-2: #77815c;
	--link-3: #8a9a5b;
	--link-4: #b2ac88;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #474d37;
	--icon-2: #77815c;
	--icon-3: #8a9a5b;
	--icon-4: #9c9c81;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #8a9a5b;
	--border-2: #b2ac88;
	--border-3: #9c9c81;
	--border-4: #e9ece9;
	
}
