
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Light Colors
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
:root {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #ffffff;
	--background-2: #f2f2f2;
	--background-3: #e5e5e5;
	--background-4: #d8d8d8;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #191919;
	--color-2: #323232;
	--color-3: #4c4c4c;
	--color-4: #666666;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #3295ff;
	--link-2: #5aaaff;
	--link-3: #84bfff;
	--link-4: #add4ff;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #5c758c;
	--icon-2: #6c8297;
	--icon-3: #7c90a3;
	--icon-4: #8c9eae;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #adadad;
	--border-2: #b7b7b7;
	--border-3: #c1c1c1;
	--border-4: #cccccc;
	
}