
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Turtles Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="turtles"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #f0faf7;
	--background-2: #e1f5ef;
	--background-3: #d2f0e7;
	--background-4: #c3ebe0;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #0a241d;
	--color-2: #14483a;
	--color-3: #1e6c57;
	--color-4: #289074;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #32958a;
	--link-2: #46a094;
	--link-3: #6bbd99;
	--link-4: #aecfa4;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #2a6059;
	--icon-2: #46a094;
	--icon-3: #6bbd99;
	--icon-4: #aecfa4;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #6bbd99;
	--border-2: #aecfa4;
	--border-3: #c4e8c2;
	--border-4: #d2f0e7;
	
}
