
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Peach Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="peach"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #fff5f0;
	--background-2: #ffebdf;
	--background-3: #ffe1cf;
	--background-4: #ffd7bf;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #24140a;
	--color-2: #482814;
	--color-3: #6c3c1e;
	--color-4: #905028;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #cd6b32;
	--link-2: #f4a460;
	--link-3: #ffcc99;
	--link-4: #ffdab9;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #92623a;
	--icon-2: #f4a460;
	--icon-3: #ffcc99;
	--icon-4: #ffdab9;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #f4a460;
	--border-2: #ffcc99;
	--border-3: #ffdab9;
	--border-4: #ffe1cf;
	
}
