
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Stromi Colors (Light Refined)
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
[data-theme="stromi"] {
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Background Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--background-1: #f0f7fa;
	--background-2: #e1eff5;
	--background-3: #d2e7f0;
	--background-4: #c3dfeb;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Text Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--color-1: #0a1d24;
	--color-2: #143a48;
	--color-3: #1e576c;
	--color-4: #287490;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Anchor Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--link-1: #2a6180;
	--link-2: #3b7197;
	--link-3: #4a8db7;
	--link-4: #74bde0;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Icon Colors
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--icon-1: #23445b;
	--icon-2: #3b7197;
	--icon-3: #4a8db7;
	--icon-4: #74bde0;
	
	/*
	 * -------------------------------------------------------------------------------------------------------------------------------------------
	 * Border/Line Colors
	 *-------------------------------------------------------------------------------------------------------------------------------------------
	 *
	 */
	--border-1: #4a8db7;
	--border-2: #74bde0;
	--border-3: #a1e1fa;
	--border-4: #d2e7f0;
	
}
