
/*
 * -------------------------------------------------------------------------------------------------------------------------------------------
 * Shell Colors
 * -------------------------------------------------------------------------------------------------------------------------------------------
 *
 */
:root {
	
	--shell-c-30m: #000000;
	--shell-c-31m: #ec1802;
	--shell-c-32m: #53cb4a;
	--shell-c-33m: #fef54e;
	--shell-c-34m: #4e70fe;
	--shell-c-35m: #fe4efc;
	--shell-c-36m: #4ee1fe;
	--shell-c-37m: #ffffff;
	
	--shell-c-38-0m: #000000;
	--shell-c-38-1m: #c70000;
	--shell-c-38-2m: #00cd00;
	--shell-c-38-3m: #CECD00;
	--shell-c-38-4m: #6395EC;
	--shell-c-38-5m: #CA03C9;
	--shell-c-38-6m: #00CECD;
	--shell-c-38-7m: #DEE4E4;
	--shell-c-38-8m: #7E7E7E;
	--shell-c-38-9m: #FD0000;
	--shell-c-38-10m: #00FF01;
	--shell-c-38-11m: #FFFF00;
	--shell-c-38-12m: #5C5CFF;
	--shell-c-38-13m: #FF00FE;
	--shell-c-38-14m: #00FFFF;
	--shell-c-38-15m: #FFFFFF;
	--shell-c-38-16m: #00001C;
	--shell-c-38-17m: #00005E;
	--shell-c-38-18m: #000086;
	--shell-c-38-19m: #010199;
	--shell-c-38-20m: #0100D7;
	--shell-c-38-21m: #0101F7;
	--shell-c-38-22m: #005F01;
	--shell-c-38-23m: #015E5D;
	--shell-c-38-24m: #005E86;
	--shell-c-38-25m: #005F9C;
	--shell-c-38-26m: #005FD7;
	--shell-c-38-27m: #0060FF;
	--shell-c-38-28m: #008700;
	--shell-c-38-29m: #00875F;
	--shell-c-38-30m: #008888;
	--shell-c-38-31m: #0585AB;
	--shell-c-38-32m: #0087D8;
	--shell-c-38-33m: #0086FF;
	--shell-c-38-34m: #01AF00;
	--shell-c-38-35m: #00AF60;
	--shell-c-38-36m: #00AE88;
	--shell-c-38-37m: #00B0B0;
	--shell-c-38-38m: #00AFD8;
	--shell-c-38-39m: #00AFFF;
	--shell-c-38-40m: #00D700;
	--shell-c-38-41m: #00D75E;
	--shell-c-38-42m: #01CB7F;
	--shell-c-38-43m: #00D7AE;
	--shell-c-38-44m: #00D8D7;
	--shell-c-38-45m: #00D7FE;
	--shell-c-38-46m: #00FF01;
	--shell-c-38-47m: #01FF5F;
	--shell-c-38-48m: #00FF87;
	--shell-c-38-49m: #05F8AB;
	--shell-c-38-50m: #00FFD7;
	--shell-c-38-51m: #00FFFF;
	--shell-c-38-52m: #5E0000;
	--shell-c-38-53m: #5E015C;
	--shell-c-38-54m: #600086;
	--shell-c-38-55m: #5E00AE;
	--shell-c-38-56m: #5F00D6;
	--shell-c-38-57m: #5F00FE;
	--shell-c-38-58m: #5F5F00;
	--shell-c-38-59m: #5F5F5F;
	--shell-c-38-60m: #605F87;
	--shell-c-38-61m: #5E5FAF;
	--shell-c-38-62m: #5F5FD7;
	--shell-c-38-63m: #5F5FFF;
	--shell-c-38-64m: #5F8700;
	--shell-c-38-65m: #5E8756;
	--shell-c-38-66m: #5F8787;
	--shell-c-38-67m: #6087B0;
	--shell-c-38-68m: #5E87D7;
	--shell-c-38-69m: #5F87FF;
	--shell-c-38-70m: #5FAE04;
	--shell-c-38-71m: #60AF5E;
	--shell-c-38-72m: #5FB087;
	--shell-c-38-73m: #5FAFAE;
	--shell-c-38-74m: #60AFD1;
	--shell-c-38-75m: #5EAFFE;
	--shell-c-38-76m: #5FD801;
	--shell-c-38-77m: #5FD660;
	--shell-c-38-78m: #5FD586;
	--shell-c-38-79m: #5FD8AF;
	--shell-c-38-80m: #5FD7D6;
	--shell-c-38-81m: #60D7FF;
	--shell-c-38-82m: #5FFF00;
	--shell-c-38-83m: #5FFF5F;
	--shell-c-38-84m: #5FFE83;
	--shell-c-38-85m: #60FEAF;
	--shell-c-38-86m: #5FFFD7;
	--shell-c-38-87m: #5FFFFF;
	--shell-c-38-88m: #830101;
	--shell-c-38-89m: #6D064D;
	--shell-c-38-90m: #880087;
	--shell-c-38-91m: #8600AF;
	--shell-c-38-92m: #7E00CA;
	--shell-c-38-93m: #8700FF;
	--shell-c-38-94m: #875F00;
	--shell-c-38-95m: #875F5F;
	--shell-c-38-96m: #885F87;
	--shell-c-38-97m: #865FAE;
	--shell-c-38-98m: #8760D7;
	--shell-c-38-99m: #875FFE;
	--shell-c-38-100m: #878800;
	--shell-c-38-101m: #868660;
	--shell-c-38-102m: #878787;
	--shell-c-38-103m: #8887AC;
	--shell-c-38-104m: #8687D7;
	--shell-c-38-105m: #8787FF;
	--shell-c-38-106m: #87AF00;
	--shell-c-38-107m: #87AF60;
	--shell-c-38-108m: #86AF87;
	--shell-c-38-109m: #87AEAF;
	--shell-c-38-110m: #88AFD8;
	--shell-c-38-111m: #86AFFF;
	--shell-c-38-112m: #87D800;
	--shell-c-38-113m: #87D75E;
	--shell-c-38-114m: #88D786;
	--shell-c-38-115m: #87D8AF;
	--shell-c-38-116m: #87D7D6;
	--shell-c-38-117m: #88D7FE;
	--shell-c-38-118m: #87FB18;
	--shell-c-38-119m: #87FF5F;
	--shell-c-38-120m: #86FE85;
	--shell-c-38-121m: #88FFAF;
	--shell-c-38-122m: #87FFD7;
	--shell-c-38-123m: #87FFFE;
	--shell-c-38-124m: #AE0000;
	--shell-c-38-125m: #AF005F;
	--shell-c-38-126m: #AD0085;
	--shell-c-38-127m: #AE00AD;
	--shell-c-38-128m: #AE00D6;
	--shell-c-38-129m: #AF00FF;
	--shell-c-38-130m: #AF5F00;
	--shell-c-38-131m: #AF5F60;
	--shell-c-38-132m: #AF5E87;
	--shell-c-38-133m: #AD5FAF;
	--shell-c-38-134m: #AF5FD7;
	--shell-c-38-135m: #AD60FA;
	--shell-c-38-136m: #AF8701;
	--shell-c-38-137m: #AE875E;
	--shell-c-38-138m: #AF8787;
	--shell-c-38-139m: #B087AF;
	--shell-c-38-140m: #AE87D6;
	--shell-c-38-141m: #AF88FF;
	--shell-c-38-142m: #AFAF00;
	--shell-c-38-143m: #AFAE5F;
	--shell-c-38-144m: #AEAF86;
	--shell-c-38-145m: #AFAFAF;
	--shell-c-38-146m: #AFAED6;
	--shell-c-38-147m: #AEAFFF;
	--shell-c-38-148m: #AFD800;
	--shell-c-38-149m: #AFD65F;
	--shell-c-38-150m: #AFD788;
	--shell-c-38-151m: #AED7AE;
	--shell-c-38-152m: #AFD7D7;
	--shell-c-38-153m: #B0D7FF;
	--shell-c-38-154m: #AFFF00;
	--shell-c-38-155m: #AFFF5E;
	--shell-c-38-156m: #AFFF85;
	--shell-c-38-157m: #B0FFAE;
	--shell-c-38-158m: #AFFFD7;
	--shell-c-38-159m: #AFFFFE;
	--shell-c-38-160m: #D60000;
	--shell-c-38-161m: #D7005E;
	--shell-c-38-162m: #D80084;
	--shell-c-38-163m: #D600AE;
	--shell-c-38-164m: #D700D7;
	--shell-c-38-165m: #D700FE;
	--shell-c-38-166m: #D75E00;
	--shell-c-38-167m: #D75F60;
	--shell-c-38-168m: #D75E87;
	--shell-c-38-169m: #D65FAF;
	--shell-c-38-170m: #D760D4;
	--shell-c-38-171m: #D65FFE;
	--shell-c-38-172m: #D8840E;
	--shell-c-38-173m: #D48660;
	--shell-c-38-174m: #D78788;
	--shell-c-38-175m: #D786AF;
	--shell-c-38-176m: #D687D8;
	--shell-c-38-177m: #D787FF;
	--shell-c-38-178m: #D7AF00;
	--shell-c-38-179m: #D8AF5D;
	--shell-c-38-180m: #D6AF86;
	--shell-c-38-181m: #D7AEAF;
	--shell-c-38-182m: #D4ACD3;
	--shell-c-38-183m: #D6AFFE;
	--shell-c-38-184m: #D6D700;
	--shell-c-38-185m: #D7D75F;
	--shell-c-38-186m: #D8D787;
	--shell-c-38-187m: #D6D7AF;
	--shell-c-38-188m: #D7D7D7;
	--shell-c-38-189m: #D8D7FF;
	--shell-c-38-190m: #D7FD09;
	--shell-c-38-191m: #D7FF60;
	--shell-c-38-192m: #D7FE87;
	--shell-c-38-193m: #D8FFB0;
	--shell-c-38-194m: #D6FFD7;
	--shell-c-38-195m: #D7FFFF;
	--shell-c-38-196m: #F80000;
	--shell-c-38-197m: #FE005E;
	--shell-c-38-198m: #FF0087;
	--shell-c-38-199m: #FE00AE;
	--shell-c-38-200m: #FF00D6;
	--shell-c-38-201m: #FF00FE;
	--shell-c-38-202m: #FD4E30;
	--shell-c-38-203m: #FF5F5E;
	--shell-c-38-204m: #FF5E86;
	--shell-c-38-205m: #FE5FAF;
	--shell-c-38-206m: #FF60D7;
	--shell-c-38-207m: #FF5FFF;
	--shell-c-38-208m: #FF8700;
	--shell-c-38-209m: #FE875F;
	--shell-c-38-210m: #FF8788;
	--shell-c-38-211m: #FF86AF;
	--shell-c-38-212m: #FE87D7;
	--shell-c-38-213m: #FF88FF;
	--shell-c-38-214m: #FAAB01;
	--shell-c-38-215m: #FFAF60;
	--shell-c-38-216m: #FEAF87;
	--shell-c-38-217m: #FFAFB0;
	--shell-c-38-218m: #FFAED7;
	--shell-c-38-219m: #FEAFFF;
	--shell-c-38-220m: #FED700;
	--shell-c-38-221m: #FFD75E;
	--shell-c-38-222m: #FFD787;
	--shell-c-38-223m: #FED7AE;
	--shell-c-38-224m: #FFD7D7;
	--shell-c-38-225m: #FFD7FF;
	--shell-c-38-226m: #FFFF00;
	--shell-c-38-227m: #FFFF5F;
	--shell-c-38-228m: #FFFF87;
	--shell-c-38-229m: #FFFFAF;
	--shell-c-38-230m: #FEFFD7;
	--shell-c-38-231m: #FFFFFF;
	--shell-c-38-232m: #080808;
	--shell-c-38-233m: #121212;
	--shell-c-38-234m: #1C1C1C;
	--shell-c-38-235m: #262626;
	--shell-c-38-236m: #303030;
	--shell-c-38-237m: #3A3A3A;
	--shell-c-38-238m: #444444;
	--shell-c-38-239m: #4E4E4E;
	--shell-c-38-240m: #585858;
	--shell-c-38-241m: #626262;
	--shell-c-38-242m: #6C6C6C;
	--shell-c-38-243m: #767676;
	--shell-c-38-244m: #808080;
	--shell-c-38-245m: #8A8A8A;
	--shell-c-38-246m: #949494;
	--shell-c-38-247m: #9E9E9E;
	--shell-c-38-248m: #A8A8A8;
	--shell-c-38-249m: #B2B2B2;
	--shell-c-38-250m: #BCBCBC;
	--shell-c-38-251m: #C6C6C6;
	--shell-c-38-252m: #D0D0D0;
	--shell-c-38-253m: #DADADA;
	--shell-c-38-254m: #E4E4E4;
	--shell-c-38-255m: #EEEEEE;
	
}
